/*
  Platter ~ Base CSS

  DEV NOTES

  + Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu leo quis tortor facilisis pharetra.
    + Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu leo quis tortor facilisis pharetra.
  + Suspendisse potenti. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec tellus neque.
  + Vestibulum sit amet velit diam. Maecenas eu eleifend nunc. Ut fringilla metus vitae nulla mollis id viverra augue feugiat.

*/

/* `Body
----------------------------------------------------------------------------------------------------*/
  body {
    font-size: 62.5%;
    margin: 0;
    min-width: 960px; 
    padding: 0;
  }

/* `Container
----------------------------------------------------------------------------------------------------*/
  .container {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
  }

  article, aside, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
  }

/* `Paragraphs
----------------------------------------------------------------------------------------------------*/
  h1, h2, h3, h4, h5, h6 {
    margin: 1em 0 .5em;
    line-height: 1.25;
    font-weight: bold;
  }

  h1 {font-size: 3em;}
  h2 {font-size: 2.5em;}
  h3 {font-size: 2.167em;}
  h4 {font-size: 1.667em;}
  h5 {font-size: 1.167em;}
  h6 {font-size: 1em;}

  ul, ol {
    margin: 1em 0;
    padding-left: 40px;
  }

  p {margin: 1em 0;}

  blockquote {margin: 1em 40px;}

  figure {margin: 1em 0;}

/* `Links
----------------------------------------------------------------------------------------------------*/
  a {text-decoration: underline;}
  a:link {color: #0000EE;}
  a:visited {color: #551A8B;}
  a:active {color: #EE0000;}

  /* Add your own styles for hover and focus styles */
  a:hover, a:focus {}

  /* Remove dotted outline clicked links - Keeps outline on focus */
  a:active, a:hover {outline: none;}

  /* No border around images in links */
  a img {border: none;}

/* `Forms
----------------------------------------------------------------------------------------------------*/
  fieldset {
    margin: 0;
    padding: 0;
    border: none;
  }

  input, button, select {vertical-align: middle;}

/* `Table
----------------------------------------------------------------------------------------------------*/
  table { border-collapse: collapse; }

  td, th {
    padding: 1px; /* Same as browser default - set to "0" to remove padding */
    vertical-align: top; /* Default is "middle" */
    text-align: left; /* Default for TH elements is "center" */
  }

  td:first-child, th:first-child {empty-cells: hide;}