/*
  Platter ~ Theme CSS.

  
  DEV NOTES

  	+	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu leo quis tortor facilisis pharetra.
  	+	Suspendisse potenti. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec tellus neque.
  	+	Vestibulum sit amet velit diam. Maecenas eu eleifend nunc. Ut fringilla metus vitae nulla mollis id viverra augue feugiat.

*/

/* `Body
----------------------------------------------------------------------------------------------------*/
body {}

/* `Wrapper / Container
----------------------------------------------------------------------------------------------------*/
.wrapper {}
  
/* `Columns / Structure (if needed)
----------------------------------------------------------------------------------------------------*/

/* `Header
----------------------------------------------------------------------------------------------------*/
header {}
header.site-header {}

/* `Main Content
----------------------------------------------------------------------------------------------------*/
.content {}

/* `Sidebar - if needed
----------------------------------------------------------------------------------------------------*/

/* `Footer
----------------------------------------------------------------------------------------------------*/
footer {}
footer.site-footer {}
footer.base-footer {}

/* `Image Replacment
----------------------------------------------------------------------------------------------------*/
h1.logo {
  overflow: hidden;
  text-align: left;
  display: block;
  line-height:0;
  text-indent: -1000em;
}