/* ----- Body ----- */
  body {
    min-width: 960px; 
    padding: 0;
    margin: 0;
  }

/* ----- Wrapper / Container ----- */
  .container {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
  }

/* ----- Paragraphs ----- */
  h1, h2, h3, h4, h5, h6 {
    margin: 1em 0 .5em;
    line-height: 1.25;
    font-weight: bold;
  }

  ul, ol {
    margin: 1em 0;
    padding-left: 40px;
  }

  p {margin-bottom: 1em;}

  blockquote {margin: 1em 40px;}

  figure {margin: 1em 0;}

/* ----- Links ----- */
  a {
    text-decoration: underline;
    &:link {color: #0000EE;}
    &:visited {color: #551A8B;}
    &:active {color: #EE0000;}
    &:hover { outline:none;}
    &:focus {}
    &:active, &:hover {outline: none;}
  }

  a img {border: none;}

/* ----- Forms ----- */
  fieldset {
    margin: 0;
    padding: 0;
    border: none;
  }

  input, button, select {vertical-align: middle;}
  
  input[type=button], input[type=submit], button { cursor: pointer; }

/* ----- Table ----- */
  table { border-collapse: collapse; }

  td, th {
    padding: 1px; /* Same as browser default - set to "0" to remove padding */
    vertical-align: top; /* Default is "middle" */
    text-align: left; /* Default for TH elements is "center" */
  }

  td:first-child, th:first-child {empty-cells: hide;}