// Base
// Base styles for HTML elements. No class's or IDs should be used here.

// Body
// ------------------------------------------------------------

body {
  background-color: $light;
  color: $dark;
}

// Paragraphs
// ------------------------------------------------------------

// Links
// ------------------------------------------------------------

a {
  text-decoration: none;
  &:link, &:visited, &:active  {color: $link;}
  &:hover { color: $link-hover;}
  &:active, &:hover {outline: none;}
}
a img {border: none;}

// Table
// ------------------------------------------------------------
table { border-collapse: collapse; }