/* -----  Base Fonts ----- */
  html, body, textarea, input {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 62.5%;
    word-spacing:2px;
  }

  .normal-text {font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;}
  blockquote {font-family: Georgia, Times, "Times New Roman", serif;}

/* -----  Font Face ----- */
  @font-face {
    font-family: "Font";
    src: url("../fonts/Font.eot");
    src: url("../fonts/Font.eot?#iefix") format("embedded-opentype"),
      url("../fonts/Font.woff") format("woff"),
      url("../fonts/Font.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  .font-face {font-family:"Bliss Bold", 'Gill Sans', 'Helvetica Neue', Arial, sans-serif;}
  .font-face .med {font-family:"Bliss Medium", 'Gill Sans', 'Helvetica Neue', Arial, sans-serif;}
  .font-face .heavy {font-family:"Bliss Heavy", 'Gill Sans', 'Helvetica Neue', Arial, sans-serif;}

/* -----  Font Sizes ----- */
  
  /* Headings */
  h1 {font-size: 3em;}
  h2 {font-size: 2.5em;}
  h3 {font-size: 2.167em;}
  h4 {font-size: 1.667em;}
  h5 {font-size: 1.167em;}
  h6 {font-size: 1em;}

  // Use the Font-size mixin
  p {
    @include font-size(13);
  }
  
/* -----  Font Styling ----- */ 

  /* Bold */
  //{font-weight: bold;}

  /* Italic */
  //{font-style: italic;}

  /* Underline */
  //{text-decoration: underline;}

  /* Normal */
  //{font-weight: normal !important; font-style: normal !important;}

  //{font-weight: normal !important;}

  //{font-style: normal !important;}
  
/* -----  Line Height ----- */
  //{line-height: ;}

/* -----  Letter Spacing ----- */
  //{letter-spacing: ;}

/* -----  Word Spacing ----- */
  //{word-spacing: ;}


