/* Layout */
/* Main pae layout, collumns, etc etc  */


// Body
// ------------------------------------------------------------

// body {}

// Header
// ------------------------------------------------------------

// header.site-header{}

// Main Content
// ------------------------------------------------------------

// .main-content{}

// Supporting Content
// ------------------------------------------------------------

// .supporting-content {}

// Supplementary Content
// ------------------------------------------------------------

// .supplementary-content {}

// Custom Page Layouts
// ------------------------------------------------------------

// Footer
// ------------------------------------------------------------

// footer.site-footer{}

// Clearfix
// ------------------------------------------------------------

%clearfix {
   &:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
  }
}