// Settings
// Basic site settings. Variables, mixins, placeholders etc 

// Vars
// ------------------------------------------------------------

/* Colours */
$light:#fff;
$dark:#000;

/* Links */
$link:#00f;
$link-hover: darken($link, 20%);


// Mixins
// ------------------------------------------------------------

@mixin list_style_none {
  background: none;
  padding-left: 0;
  list-style-type: none;
  list-style-position: outside;
}

@mixin border_radius($radius: 4px) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin font-size($sizeValue: 16){
  font-size: $sizeValue + px;
  font-size: ($sizeValue / 10) + rem;
}

// Placeholders
// ------------------------------------------------------------

%clearfix {
   &:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
  }
}

%image-replacement {
   overflow: hidden;
   text-align: left;
   display: block;
   line-height:0;
   text-indent: -1000em;
}
