/* Typography */
/* Color and theme styles */

// Header
// ------------------------------------------------------------

// Logo
// Navigation

// Main Content
// ------------------------------------------------------------

// Supporting Content
// ------------------------------------------------------------

// Supplementary Content
// ------------------------------------------------------------

// Custom Page Layouts
// ------------------------------------------------------------

// Components
// ------------------------------------------------------------

// Footer
// ------------------------------------------------------------

// Image Replacement
// ------------------------------------------------------------

%image-replacement {
   overflow: hidden;
   text-align: left;
   display: block;
   line-height:0;
   text-indent: -1000em;
}