// Typography
// Font families, base sizes and styles for the site.

// Base Fonts
// ------------------------------------------------------------

html, body, textarea, input {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size : 62.5%;
}


// Font Face
// ------------------------------------------------------------

// @font-face {
//   font-family: "Font";
//   src: url("../fonts/Font.eot");
//   src: url("../fonts/Font.eot?#iefix") format("embedded-opentype"),
//     url("../fonts/Font.woff") format("woff"),
//     url("../fonts/Font.ttf") format("truetype");
//   font-weight: normal;
//   font-style: normal;
// } 

// Font Size
// ------------------------------------------------------------

// Use the font_size mixin
h1 {@include font_size(28)}
h2 {@include font_size(24)}
h3 {@include font_size(20)}
h4 {@include font_size(18)}
h5 {@include font_size(16)}
h6 {@include font_size(14)}

p, li {@include font_size(14)}
  
// Font Styling
// ------------------------------------------------------------ 

/* Bold */
//{font-weight: bold;}

/* Italic */
//{font-style: italic;}

/* Underline */
//{text-decoration: underline;}

/* Normal */
//{font-weight: normal !important; font-style: normal !important;}
//{font-weight: normal !important;}
//{font-style: normal !important;}
  
// Line-Height
// ------------------------------------------------------------

//{line-height: ;}

// Letter Spacing
// ------------------------------------------------------------

//{letter-spacing: ;}

// Word Spacing
// ------------------------------------------------------------

//{word-spacing: ;}


