// Typography
// Font families, base sizes and styles for the site.

// Base Fonts
// ------------------------------------------------------------

html, body, textarea, input {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size : (($basefont * 100) / 16) + 0%;
  word-spacing:2px;
}


// Font Face
// ------------------------------------------------------------

@font-face {
  font-family: "Font";
  src: url("../fonts/Font.eot");
  src: url("../fonts/Font.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Font.woff") format("woff"),
    url("../fonts/Font.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
} 

// Font Size
// ------------------------------------------------------------

// Use the font_size mixin
// p {
//   @include font_size(14);
// }
  
// Font Styling
// ------------------------------------------------------------ 

/* Bold */
//{font-weight: bold;}

/* Italic */
//{font-style: italic;}

/* Underline */
//{text-decoration: underline;}

/* Normal */
//{font-weight: normal !important; font-style: normal !important;}
//{font-weight: normal !important;}
//{font-style: normal !important;}
  
// Line-Height
// ------------------------------------------------------------

//{line-height: ;}

// Letter Spacing
// ------------------------------------------------------------

//{letter-spacing: ;}

// Word Spacing
// ------------------------------------------------------------

//{word-spacing: ;}


