/*
Syntax error: Base-level rules cannot contain the parent-selector-referencing character '&'.
        on line 10 of assets/stylesheets/_layout.scss
        from line 63 of assets/stylesheets/application.scss

5:   /* Site Colours */
6:   $white:#fff;
7:   $black:#4c4c4c;
8:   $blue:#0000cc;
9:   $purple:#551a8b;
10:   $green:#149900;
11:   $orange:#ffaa00;
12:   $light-grey:#ddd;
13:   $code-light-red:#ff0000;
14:   $code-dark-red:#a31515;
15:   $code-blue:#0000ff;

Backtrace:
assets/stylesheets/_layout.scss:10
assets/stylesheets/application.scss:63
/Users/Pinto/.rvm/gems/ruby-1.9.2-p290@platter/gems/sass-3.2.5/lib/sass/selector/comma_sequence.rb:30:in `resolve_parent_refs'
/Users/Pinto/.rvm/gems/ruby-1.9.2-p290@platter/gems/sass-3.2.5/lib/sass/tree/visitors/cssize.rb:190:in `visit_rule'
/Users/Pinto/.rvm/gems/ruby-1.9.2-p290@platter/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/Pinto/.rvm/gems/ruby-1.9.2-p290@platter/gems/sass-3.2.5/lib/sass/tree/visitors/cssize.rb:21:in `visit'
/Users/Pinto/.rvm/gems/ruby-1.9.2-p290@platter/gems/sass-3.2.5/lib/sass/tree/visitors/cssize.rb:133:in `block in visit_import'
/Users/Pinto/.rvm/gems/ruby-1.9.2-p290@platter/gems/sass-3.2.5/lib/sass/tree/visitors/cssize.rb:133:in `map'
/Users/Pinto/.rvm/gems/ruby-1.9.2-p290@platter/gems/sass-3.2.5/lib/sass/tree/visitors/cssize.rb:133:in `visit_import'
/Users/Pinto/.rvm/gems/ruby-1.9.2-p290@platter/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/Pinto/.rvm/gems/ruby-1.9.2-p290@platter/gems/sass-3.2.5/lib/sass/tree/visitors/cssize.rb:21:in `visit'
/Users/Pinto/.rvm/gems/ruby-1.9.2-p290@platter/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/Pinto/.rvm/gems/ruby-1.9.2-p290@platter/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/Pinto/.rvm/gems/ruby-1.9.2-p290@platter/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/Pinto/.rvm/gems/ruby-1.9.2-p290@platter/gems/sass-3.2.5/lib/sass/tree/visitors/cssize.rb:30:in `block in visit_children'
/Users/Pinto/.rvm/gems/ruby-1.9.2-p290@platter/gems/sass-3.2.5/lib/sass/tree/visitors/cssize.rb:44:in `with_parent'
/Users/Pinto/.rvm/gems/ruby-1.9.2-p290@platter/gems/sass-3.2.5/lib/sass/tree/visitors/cssize.rb:29:in `visit_children'
/Users/Pinto/.rvm/gems/ruby-1.9.2-p290@platter/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/Pinto/.rvm/gems/ruby-1.9.2-p290@platter/gems/sass-3.2.5/lib/sass/tree/visitors/cssize.rb:56:in `visit_root'
/Users/Pinto/.rvm/gems/ruby-1.9.2-p290@platter/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/Pinto/.rvm/gems/ruby-1.9.2-p290@platter/gems/sass-3.2.5/lib/sass/tree/visitors/cssize.rb:21:in `visit'
/Users/Pinto/.rvm/gems/ruby-1.9.2-p290@platter/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:24:in `visit'
/Users/Pinto/.rvm/gems/ruby-1.9.2-p290@platter/gems/sass-3.2.5/lib/sass/tree/visitors/cssize.rb:6:in `visit'
/Users/Pinto/.rvm/gems/ruby-1.9.2-p290@platter/gems/sass-3.2.5/lib/sass/tree/root_node.rb:22:in `render'
/Users/Pinto/.rvm/gems/ruby-1.9.2-p290@platter/gems/sass-3.2.5/lib/sass/engine.rb:315:in `_render'
/Users/Pinto/.rvm/gems/ruby-1.9.2-p290@platter/gems/sass-3.2.5/lib/sass/engine.rb:262:in `render'
/Users/Pinto/.rvm/gems/ruby-1.9.2-p290@platter/gems/sass-3.2.5/lib/sass/plugin/compiler.rb:341:in `update_stylesheet'
/Users/Pinto/.rvm/gems/ruby-1.9.2-p290@platter/gems/sass-3.2.5/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/Pinto/.rvm/gems/ruby-1.9.2-p290@platter/gems/sass-3.2.5/lib/sass/plugin/compiler.rb:201:in `each'
/Users/Pinto/.rvm/gems/ruby-1.9.2-p290@platter/gems/sass-3.2.5/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/Pinto/.rvm/gems/ruby-1.9.2-p290@platter/gems/sass-3.2.5/lib/sass/plugin/compiler.rb:299:in `block in watch'
/Users/Pinto/.rvm/gems/ruby-1.9.2-p290@platter/gems/sass-3.2.5/vendor/listen/lib/listen/multi_listener.rb:86:in `call'
/Users/Pinto/.rvm/gems/ruby-1.9.2-p290@platter/gems/sass-3.2.5/vendor/listen/lib/listen/multi_listener.rb:86:in `on_change'
/Users/Pinto/.rvm/gems/ruby-1.9.2-p290@platter/gems/sass-3.2.5/vendor/listen/lib/listen/multi_listener.rb:95:in `block in initialize_adapter'
/Users/Pinto/.rvm/gems/ruby-1.9.2-p290@platter/gems/sass-3.2.5/vendor/listen/lib/listen/adapters/polling.rb:55:in `call'
/Users/Pinto/.rvm/gems/ruby-1.9.2-p290@platter/gems/sass-3.2.5/vendor/listen/lib/listen/adapters/polling.rb:55:in `poll'
/Users/Pinto/.rvm/gems/ruby-1.9.2-p290@platter/gems/sass-3.2.5/vendor/listen/lib/listen/adapters/polling.rb:31:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Base-level rules cannot contain the parent-selector-referencing character '&'.\A         on line 10 of assets/stylesheets/_layout.scss\A         from line 63 of assets/stylesheets/application.scss\A \A 5:   /* Site Colours */\A 6:   $white:#fff;\A 7:   $black:#4c4c4c;\A 8:   $blue:#0000cc;\A 9:   $purple:#551a8b;\A 10:   $green:#149900;\A 11:   $orange:#ffaa00;\A 12:   $light-grey:#ddd;\A 13:   $code-light-red:#ff0000;\A 14:   $code-dark-red:#a31515;\A 15:   $code-blue:#0000ff;"; }
