/*
Syntax error: Invalid CSS after "@import "theme";": expected selector or at-rule, was "<<<<<<< HEAD"
        on line 11 of assets/stylesheets/application.scss

6: @import "typography";
7: @import "base";
8: @import "layout";
9: @import "modules";
10: @import "theme";
11: <<<<<<< HEAD
12: @import "image-replacement";
13: @import "media-queries";
14: 
15: // Vendor
16: =======

Backtrace:
assets/stylesheets/application.scss:11
/Users/Pinto/.rvm/gems/ruby-1.9.2-p290@platter/gems/sass-3.2.5/lib/sass/scss/parser.rb:1136:in `expected'
/Users/Pinto/.rvm/gems/ruby-1.9.2-p290@platter/gems/sass-3.2.5/lib/sass/scss/parser.rb:1072:in `expected'
/Users/Pinto/.rvm/gems/ruby-1.9.2-p290@platter/gems/sass-3.2.5/lib/sass/scss/parser.rb:28:in `parse'
/Users/Pinto/.rvm/gems/ruby-1.9.2-p290@platter/gems/sass-3.2.5/lib/sass/engine.rb:342:in `_to_tree'
/Users/Pinto/.rvm/gems/ruby-1.9.2-p290@platter/gems/sass-3.2.5/lib/sass/engine.rb:315:in `_render'
/Users/Pinto/.rvm/gems/ruby-1.9.2-p290@platter/gems/sass-3.2.5/lib/sass/engine.rb:262:in `render'
/Users/Pinto/.rvm/gems/ruby-1.9.2-p290@platter/gems/sass-3.2.5/lib/sass/plugin/compiler.rb:341:in `update_stylesheet'
/Users/Pinto/.rvm/gems/ruby-1.9.2-p290@platter/gems/sass-3.2.5/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/Pinto/.rvm/gems/ruby-1.9.2-p290@platter/gems/sass-3.2.5/lib/sass/plugin/compiler.rb:201:in `each'
/Users/Pinto/.rvm/gems/ruby-1.9.2-p290@platter/gems/sass-3.2.5/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/Pinto/.rvm/gems/ruby-1.9.2-p290@platter/gems/sass-3.2.5/lib/sass/plugin/compiler.rb:299:in `block in watch'
/Users/Pinto/.rvm/gems/ruby-1.9.2-p290@platter/gems/sass-3.2.5/vendor/listen/lib/listen/multi_listener.rb:86:in `call'
/Users/Pinto/.rvm/gems/ruby-1.9.2-p290@platter/gems/sass-3.2.5/vendor/listen/lib/listen/multi_listener.rb:86:in `on_change'
/Users/Pinto/.rvm/gems/ruby-1.9.2-p290@platter/gems/sass-3.2.5/vendor/listen/lib/listen/multi_listener.rb:95:in `block in initialize_adapter'
/Users/Pinto/.rvm/gems/ruby-1.9.2-p290@platter/gems/sass-3.2.5/vendor/listen/lib/listen/adapters/polling.rb:55:in `call'
/Users/Pinto/.rvm/gems/ruby-1.9.2-p290@platter/gems/sass-3.2.5/vendor/listen/lib/listen/adapters/polling.rb:55:in `poll'
/Users/Pinto/.rvm/gems/ruby-1.9.2-p290@platter/gems/sass-3.2.5/vendor/listen/lib/listen/adapters/polling.rb:31:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"@import \"theme\";\": expected selector or at-rule, was \"<<<<<<< HEAD\"\A         on line 11 of assets/stylesheets/application.scss\A \A 6: @import \"typography\";\A 7: @import \"base\";\A 8: @import \"layout\";\A 9: @import \"modules\";\A 10: @import \"theme\";\A 11: <<<<<<< HEAD\A 12: @import \"image-replacement\";\A 13: @import \"media-queries\";\A 14: \A 15: // Vendor\A 16: ======="; }
